
@font-face {
    font-family: "0xProtoNerdFont";
    src:
        url("/static/fonts/0xProtoNerdFont-Regular.woff2") format("woff2")
}

h1 { 
    font-family: "0xProtoNerdFont", Arial, Helvetica, sans-serif;
 }